.homeSection {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    text-align: right;

    h2 {
        margin: 0;

        color: steelblue;
        font-size: 3rem;
    }
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;

    padding: 0px 64px;

    height: 100%;
}

.slogan > .navItem {
    max-width: max-content;

    box-shadow: none;

    font-size: 1.8rem;

    .navContainer {
        padding: 8px;
    }

    .navContent {
        padding: 8px 16px;

        outline: 3px solid var(--shop-color-transparent);
    }
}

.slogan .navShop:hover,
.slogan .navShop:has(> .navContainer:focus-visible) {
    color: white;

    .navContainer {
        box-shadow: none;
    }

    .navContent {
        outline: none;

        background-color: var(--shop-color);
    }
}

.flexAlignEnd {
    justify-content: flex-end;
}
